<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
<!--<@thymeVar id="vet" type="com.springframework.sf5petclinic.model.Vet" />-->

<h2 th:text="'List of vets'">List of vets ........</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    </thead>
    <tr th:each="vet : ${vets}">
        <td th:text="${vet.id}">id</td>
        <td th:text="${vet.firstName}">first</td>
        <td th:text="${vet.lastName}">last</td>
    </tr>
</table>
</body>
</html>